@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

body::-webkit-scrollbar {
    background-color: var(--main-white);
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-gray);
    border-radius: 15px;
}

:root {
    --primary-color: #5c4fd2;
    --main-bg-color: #ececec;
    --main-card-bg: #FBFBFB;
    --main-white: #FFFFFF;
    --main-black: #000000;
    --main-gray: #3a3a3a;
    --main-shadow: 0px 15px 15px -3px rgba(0, 0, 0, 0.1);
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    height: 70px;
}

.brand-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.9rem;
}

.nav-icon {
    padding: .5em;
    font-size: 1.5rem;
    cursor: pointer;
}

.active-icon {
    color: var(--primary-color);
}

.search-container,
.filter-container {
    position: relative;
    width: 100%;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: none;
}

.search-bar {
    width: 100%;
    height: 55px;
    border: 3px solid var(--main-black);
    outline: none;
    font-weight: bold;
    border-radius: 15px;
    padding: 1em;
}

.search-bar:focus,
.search-bar:active {
    border: 3px solid var(--primary-color);

}


.filter-container {
    width: 100%;
    list-style-type: none;
    gap: 1em;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
}

.filter-item,
.filter-item:visited {
    border: 1px solid var(--main-white);
    color: var(--main-black);
    text-decoration: none;
    border-radius: 7px;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}

.active {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--main-white) !important;
}

.filter-item:hover {
    border: 1px solid var(--primary-color);
}

.filter-link,
.filter-link:visited {
    color: var(--main-black);
}

/*---------
END OF HEADER
----------*/

/*----------
 PRODUCTS
----------*/

.products-section {
    background-color: var(--main-bg-color);
    min-height: 100vh;
}

.products {
    margin: 0.5em 0;
    padding: 1em;
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 1fr;
}

/* each product card */
.product {
    min-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-card-bg);
    border-radius: 5px;
    justify-self: center;
    box-shadow: var(--main-shadow);
    overflow: hidden;

}

.img-container {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--main-black);
}

.img-container img {
    width: 100%;
    display: block;
}

.rate-badge {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0 0.5em;
    right: 5px;
    bottom: 5px;
    border-radius: 10px;
    background-color: var(--main-black);
    color: var(--main-white);
}

/* rating number */
.rate-badge p {
    font-size: 12px;
}

/* rating star icon */
.rate-badge i {
    font-size: 10px;
}

.product-desc {
    background-color: var(--main-white);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}